
header {
	position: relative;
	background-color: black;
	width: 100%;
}
h3{
	color: green;
}
.padding5{
	padding: 5px;
	box-sizing: border-box;
}
.Displayflex{
	display: flex;
}
.flexLastLeft{
	margin-left: auto;
}
/*div:has(> a){
	position: absolute;
	background-color: red;	
}*/
div .marginLeft5{}
a{
	background-color:black;
	color: green;
	text-decoration: none;
	padding: 10px;
	/*position: absolute;	*/
}
.marginLeft5{
	/*padding: 5px;*/
	padding-top: 10px;
}
a:hover{
	background-color: green;
	color: white;
}